<!-- add header -->
<%- include('includes/_header') %>

<main id="main">
	<a href="/add-drug">
		<button id="new">New Drug <i class="fas fa-pills"></i></button>
	</a>

	<table>	
		<thead>
			<tr>
				<th>ID</th>
				<th>Drug Name</th>
				<th>Tablets per Card</th>
				<th>Tablets per Pack</th>
				<th>Taken per Day</th>
				<th>Daily dosage</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% for(let i = 0; i < drugs.length; i++) {%>
			<tr>
				<td><%= i + 1 %></td>
				<td><%= drugs[i].name %></td>
				<td><%= drugs[i].card %></td>
				<td><%= drugs[i].pack %></td>
				<td><%= drugs[i].perDay %></td>
				<td><%= drugs[i].dosage %></td>
				<td>
					<a href="/update-drug/<%= drugs[i]._id %>">
    					<span class='fa fa-edit'></span>
					</a>

					<a href="#" class="delete" data-id="<%= drugs[i]._id%>">
						<span class='fa fa-trash'></span>
					</a>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</main>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const deleteButtons = document.querySelectorAll(".delete");
  deleteButtons.forEach(btn => {
    btn.addEventListener("click", async (e) => {
      e.preventDefault();
      const id = btn.getAttribute("data-id");
      if (confirm("Are you sure to delete this drug?")) {
        const res = await fetch(`/api/drugs/${id}`, { method: "DELETE" });
        const data = await res.json();
        alert(data.message);
        window.location.reload();
      }
    });
  });
});
</script>


<%- include('includes/_footer') %>
